@tailwind base;

@tailwind components;

@tailwind utilities;

.shopping-list {
    list-style-type: none;
}

.shopping-list-container {
    flex: 1;
    /* justify-content: center; */
}

.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2606";
   position: absolute;
}